html{
  background: red;
}

.box {
  width: 200px;
  height: 200px;
  border: 2px solid #000;
}

.bigBox{
  color: red;
}

.fx1{
  width: 60px;
  height: 60px;
  background: url("../../../img/fx1.png") no-repeat center center;
}

.fx2{
  width: 60px;
  height: 60px;
  background: url("../../../img/fx2.png") no-repeat center center;
}

.fx3{
  width: 60px;
  height: 60px;
  background: url("../../../img/fx3.png") no-repeat center center;
}

.fx4{
  width: 60px;
  height: 60px;
  background: url("../../../img/fx4.png") no-repeat center center;
}